body {
    margin: 0%;
    padding: 0%;
    justify-content: space-around;
    align-items: center;
}

div #icon {
    border-radius: 50%;
    background-color: white;
    width: 50%;
    height: 30%;
    box-shadow: 0 0 2vh 0 #00ff40;
}
div #card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#card {
    background-color: black;
    margin-right: 3vh;
    width: 20vh;
    height: 30vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    font-size: 100%;
    border: solid 1vh #E8B34B;
    border-radius: 2vh;
    text-align:center;
    color: white;
    box-shadow: 0 0 2vh 0 #00ff40;
}

ul {
    list-style: none;
}
